/* Reset default browser styles */
body,
h1,
p,
ul,
li {
  margin: 10;
  padding: 10;
  font-family: "Poppins";
  font-size: 14px;
}

.page-header {
  background-image: url("../images/page-header.jpg"); /* Update with your image path */
  background-size: cover; /* Ensures the image covers the whole area */
  background-repeat: no-repeat; /* Prevents tiling */
  background-position: center; /* Centers the image */
  color: #fff;
  padding: 40px 20px;
  border-radius: 12px;
  font-family: "MuseoModerno", "Rakkas", cursive, sans-serif;
  font-size: 2.5em;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  text-align: center;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

/* Set default font and colors */
body {
  font-family: Arial, sans-serif;
  color: #333333;
  /*background-color: #f5f5f5;*/
}

/*Header styles Start*/
header {
  background-color: #f2f2f2;
  padding: 20px;
}

h1 {
  font-family: "Rakkas";
  font-size: 24px;
  margin-bottom: 10px;
}
h2 {
  font-family: "Rakkas";
  font-size: 18px;
  margin-bottom: 10px;
  color: brown;
}
h3 {
  font-size: 15px;
  margin-bottom: 10px;
  color: royalblue;
}
h4 {
  font-size: 13px;
  margin-bottom: 10px;
  color: darkmagenta;
}
h5 {
  font-size: 11px;
  margin-bottom: 10px;
  color: chocolate;
}
/*Header styles End*/

/* Navigation styles start */
.navbar {
  margin-left: 180px;
  margin-bottom: 20px;
  background-color: honeydew;
  font-size: small;
}
.navbar ul {
  list-style-type: none;
}
.navbar ul li {
  display: inline-block;
  margin-right: 10px;
}
.navbar ul li a {
  text-decoration: none;
  color: #333;
}
.navbar a:hover {
  color: blue;
}
/* Navigation styles end */

/* Main content styles */
main {
  padding: 20px;
}

/* Footer styles */
footer {
  background-color: lightgoldenrodyellow;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}
/* Footer styles end */

/* Table styles Start */
table {
  font-family: Poppins;
  border-collapse: collapse;
  /*width: 100%;*/
  border: 1px solid black;
  font-size: 14px;
}

/*
  th and td are selectors
    th: It targets the table header cells (<th>) in html table
    td: It targets the table data cells (<td>) within an HTML table.
  */
th,
td,
tr {
  border: 1px solid black;
  padding: 5px;
  text-align: left;
  background-color: #f2f2f2;
  font-size: 11px;
}
/* Table styles end */

.code-block {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
  font-family: "Times New Roman", Times, serif;
  font-size: 13px;
  line-height: 1.5;
  white-space: pre-wrap;
}
pre {
  /*background-color: lightgrey;*/
  /*padding: 10px;
  border-radius: 5px;*/
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
  /*line-height: 1.5;
  white-space: pre-wrap;*/
}
#search-bar {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: #f1f1f1;
}

/* sidebar start
Search: mdn sidebar*/
.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  /*z-index: 1;*/
  top: 0;
  left: 0;
  background-color: honeydew;
  overflow-x: hidden;
  /*padding-top: 20px;*/
  font-size: small;
  overflow-y: auto;
}

/* Style the links inside the sidebar */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: burlywood;
  color: #818181;
  display: block;
  font-size: x-small;
}

/* Change the color of links on hover */
.sidebar a:hover {
  color: #333333;
}

.sidebar ul {
  margin: -1px 0;
  font-size: x-small;
}

summary {
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 12px;
}
/* sidebar end*/
dl {
  font-family: "Poppins";
  margin-left: 16px;
  margin-top: 0;
  font-size: 13px;
}
dt {
  font-family: "Poppins";
  margin-left: 20px;
  margin-top: 10px;
  font-size: 12px;
}
dd {
  font-family: "Poppins";
  margin-left: 24px;
  margin-bottom: 10px;
  font-size: 11px;
}

p {
  font-family: "Poppins";
  margin-left: 24px;
  margin-bottom: 10px;
  font-size: 14px;
}

/* li start*/
li {
  list-style-type: none;
}
/* li start*/

/*a start*/
a:link {
  color: blue;
}
/*a start*/

aside {
  font-family: "Poppins";
  font-size: 10px;
}

.image-container {
  display: inline-block; /* Ensures the container shrinks to fit the image */
  margin: 0; /* Removes margin around the container */
  padding: 0; /* Removes padding around the container */
}

.zoomable-image {
  width: 30%; /* Adjusts the image to fit the container */
  height: auto;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.zoomed {
  transform: scale(2); /* Adjust scale as needed */
}

.image-table {
  width: 100%;
  border-collapse: collapse; /* Removes default spacing between table cells */
}

.image-table td {
  padding: 0; /* Removes padding inside table cells */
  margin: 0; /* Removes margin inside table cells */
  text-align: center;
}

#searchResults {
  margin-top: 20px;
}

#searchResults div {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
